COAL-Project/.vs/COAL-Project/v16/Browse.VC.db-shm
COAL-Project/.vs/COAL-Project/v16/Browse.VC.db-wal
COAL-Project/.vs/COAL-Project/v16/Browse.VC.opendb
COAL-Project/.vs/COAL-Project/v16/.suo
COAL-Project/.vs/COAL-Project/v16/Browse.VC.db